<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771683055660-2u7i6b4iquf6gameub23ktso4r55po1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771683055660-2u7i6b4iquf6gameub23ktso4r55po1s</string>
	<key>API_KEY</key>
	<string>AIzaSyBhcoIQvF7RaCojDaQv2FQxI5L0wCbkj4g</string>
	<key>GCM_SENDER_ID</key>
	<string>771683055660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.miempresa.FloresSnapchat</string>
	<key>PROJECT_ID</key>
	<string>floressnapchat-bc384</string>
	<key>STORAGE_BUCKET</key>
	<string>floressnapchat-bc384.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771683055660:ios:c7cde6e22c6bc11efe3989</string>
</dict>
</plist>